<p>This site is intended for use as a short-term exchange of pasted information between parties. All publicly submitted data is considered public information. Submitted private and public data is not guaranteed to be permanent, and may be removed at any time.</p>

<form method="post" class="form" role="form" action="/create" autocomplete="off">

  <div class="row justify-content-between">
    <div class="col-4">
      <div class="form-group">
        <input type="text" class="form-control" name="title" id="title" autofocus placeholder="Paste title">
      </div>
    </div>

    <div class="col-4 align-self-end">
      <div class="form-group">
        <select class="form-control" name="language">
        {% for language in languages %}<option value="{{ language.id }}">{{ language.name }}</option>{% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <textarea class="form-control" rows="18" tabindex="2" placeholder="Paste data" cols="50" name="data" oninput="document.getElementById('submit').disabled = this.value==='';"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">🔒</div>
          </div>
          <input type="password" class="form-control" name="password" id="password" autofocus placeholder="Password" disabled>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="defaultCheck1" name="private" onchange="document.getElementById('password').disabled = !this.checked;">
        <label class="form-check-label" for="defaultCheck1">
          Submit privately
        </label>
      </div>
    </div>

    <div class="col-2 offset-1">
      <div class="form-group">
        <button type="submit" id="submit" name="submit" class="form-control btn btn-primary float-right" disabled>Paste</button>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <select class="form-control" name="expire">
        {% for expire in expires %}<option value="{{ expire.id }}">{{ expire.name }}</option>{% endfor %}
        </select>
      </div>
    </div>

  </div>
</form>
