<h2>{% if note.title %}{{ note.title }}{% else %}Paste #{{ note.uuid }}{% endif %}
<div class="btn-group pull-right" role="group" aria-label="...">
  <a href="/raw/{{c.req.args}}" class="btn btn-info" role="button">RAW</a>
  {% if note.private == "1" %}
  <button type="button" class="btn btn-default pull-right" aria-label="Left Align">
    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  </button>
  {% endif %}
</div>

</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <pre>{{ note.html|safe }}</pre>
  </div>
  <div class="panel-footer">Posted by {{ note.ip_address }} at {{ note.created_at|date:"dd MMM yyyy, hh:mm:ss" }} <div class="pull-right">Language: {{ note.language }}</div></div>
</div>
